# BEGIN WordPress

# The directives (lines) between "BEGIN WordPress" and "END WordPress" are

# dynamically generated, and should only be modified via WordPress filters.

# Any changes to the directives between these markers will be overwritten.

# Url Amigable

RewriteEngine On
RewriteRule ^home/?$ index.html
RewriteRule ^vehiculos/?$ html/vehiculos.html
RewriteRule ^nosotros/?$ html/nosotros.html
RewriteRule ^contacto/?$ html/contacto.html
RewriteRule ^aviso-legal/?$ html/aviso-legal.html

# Url Amigable Catálogo
RewriteRule ^prisma/?$ html/stock/chevrolet-prisma.html
RewriteRule ^sonic/?$ html/stock/chevrolet-sonic.html
RewriteRule ^cruze4p/?$ html/stock/chevrolet-cruze-4p.html
RewriteRule ^cronos/?$ html/stock/fiat-cronos.html
RewriteRule ^weekend/?$ html/stock/fiat-weekend.html
RewriteRule ^ford-ecosport/?$ html/stock/ford-ecosport.html
RewriteRule ^ford-focus/?$ html/catalogo/ford-focus-se.html

RewriteRule ^ford-focus-16/?$ html/catalogo/ford-focus-16.html
RewriteRule ^kia-sportage/?$ html/catalogo/kia-sportage.html
RewriteRule ^nissan-frontier/?$ html/catalogo/nissan-frontier.html
RewriteRule ^kwid/?$ html/catalogo/renault-kwid.html
RewriteRule ^yaris/?$ html/catalogo/toyota-yaris.html
RewriteRule ^hiace/?$ html/catalogo/toyota-hiace.html
RewriteRule ^hilux/?$ html/catalogo/toyota-hilux.html
RewriteRule ^vento/?$ html/catalogo/volkswagen-vento.html

# END Url Amigable

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
RewriteRule ^vehiculos/?$ html/vehiculos.html [L]
RewriteRule ^contacto/?$ html/contacto.html [L]
</IfModule>

<IfModule mod_rewrite.c>
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule (.*) http://www.biasonautomotores.com.ar/$1/ [R=301,L,QSA]
</IfModule>

# END WordPress

Redirect 301 /biason-automotores-bs/index.html https://biasonautomotores.ar
RewriteCond %{HTTP_HOST} ^biasonautomotores\.com.ar$ [OR]
RewriteCond %{HTTP_HOST} ^www\.biasonautomotores\.com.ar$
RewriteRule ^biason\-automotores\-bs\/index\.html$ "http\:\/\/biasonautomotores\.com\.ar/" [R=301,L]
