# BEGIN WordPress

# The directives (lines) between "BEGIN WordPress" and "END WordPress" are

# dynamically generated, and should only be modified via WordPress filters.

# Any changes to the directives between these markers will be overwritten.

# Url Amigable

RewriteEngine On
RewriteRule ^home/?$ index.html
RewriteRule ^vehiculos/?$ html/vehiculos.html
RewriteRule ^nosotros/?$ html/nosotros.html
RewriteRule ^contacto/?$ html/contacto.html
RewriteRule ^aviso-legal/?$ html/aviso-legal.html

# Url Amigable Catálogo
RewriteRule ^aveog3/?$ html/catalogo/chevrolet-aveog3.html
RewriteRule ^berlingo/?$ html/catalogo/citroen-berlingo.html
RewriteRule ^ecosport-freestyle/?$ html/catalogo/ford-ecosport-freestyle.html
RewriteRule ^ford-fiesta/?$ html/catalogo/ford-fiesta.html
RewriteRule ^kia-sportage/?$ html/catalogo/kia-sportage.html
RewriteRule ^nissan-march-active/?$ html/catalogo/nissan-march-active.html
RewriteRule ^hilux/?$ html/catalogo/toyota-hilux.html
RewriteRule ^myway-2019/?$ html/catalogo/lifan-myway2019.html
RewriteRule ^myway-2018/?$ html/catalogo/lifan-myway2018.html
RewriteRule ^etios/?$ html/catalogo/toyota-etios.html
RewriteRule ^corolla2016/?$ html/catalogo/toyota-corolla-2016.html
RewriteRule ^corolla2020/?$ html/catalogo/toyota-corolla-2020.html
RewriteRule ^polo/?$ /html/catalogo/volkswagen-polo.html
RewriteRule ^fox/?$ html/catalogo/volkswagen-fox.html

# END Url Amigable

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
RewriteRule ^vehiculos/?$ html/vehiculos.html [L]
RewriteRule ^contacto/?$ html/contacto.html [L]
</IfModule>

<IfModule mod_rewrite.c>
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule (.*) http://www.biasonautomotores.com.ar/$1/ [R=301,L,QSA]
</IfModule>

# END WordPress

Redirect 301 /biason-automotores-bs/index.html https://biasonautomotores.ar
RewriteCond %{HTTP_HOST} ^biasonautomotores\.com.ar$ [OR]
RewriteCond %{HTTP_HOST} ^www\.biasonautomotores\.com.ar$
RewriteRule ^biason\-automotores\-bs\/index\.html$ "http\:\/\/biasonautomotores\.com\.ar/" [R=301,L]
