body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #030303;
  text-decoration: none;
}

a:hover {
  color: #b60c0c;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
}
